{% extends "/shared/base.html" %}
{% block content %}
<div class="container mx-auto flex-col py-6 grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">College Football Players</h1>
        <div class="flex flex-wrap justify-between gap-2">
            {% for player in random_players %}
            <a href="/players/{{ player.url_slug}}">
                <img src="/static/img/faces/64/face{{ player.face_id }}.webp"
                    title="{{player.first_name}} {{player.last_name}}">
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">College Football Teams</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">College Football News</h1>
    </div>
</div>
{% endblock %}