{% extends "/shared/base.html" %}
{% block content %}
<div class="container mx-auto flex-col py-6 grid grid-cols-1 gap-4">
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Player Name</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Offensive Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Defensive Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Offensive Line Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Kicking Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Return Stats</h1>
    </div>
</div>
{% endblock %}