{% extends "/shared/base.html" %}
{% block content %}
<div class="container mx-auto flex-col py-6 grid grid-cols-1 gap-4">
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <div class="flex items-start space-x-4">
            <img src="/static/img/faces/256/face{{ player.face_id }}.webp" class="w-128 h-128">
            <div>
                <p class="text-2xl font-bold">{{ player.first_name }} {{player.last_name }}</p>
                <p><span class="font-bold">Position</span>: {{ player.position }}</p>
                <p>{{ player.height_ft }}, {{ player.weight_lbs }}lb ({{ player.height_cm }}cm, {{ player.weight_kg}}kg)
                </p>
                {% if player.schools|length == 1 %}
                {% set school = player.schools[0] %}
                <p><span class="font-bold">School</span>: <a href="/schools/{{ school.url_slug }}">{{ school.name }}</a>
                    {% elif player.schools|length > 1 %}
                <p><span class="font-bold">Schools</span>:
                    {% for school in player.schools %}
                    <a href="/schools/{{ school.url_slug }}" class="text-blue-500">{{ school.name }}</a>{% if not
                    loop.last %},{% endif %}
                    {% endfor %}
                    {% endif %}
                </p>
                <p><span class="font-bold">Hometown</span>: {{ player.hometown }}</p>
            </div>
        </div>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Offensive Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Defensive Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Offensive Line Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Kicking Stats</h1>
    </div>
    <div class="w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-gray-800">Return Stats</h1>
    </div>
</div>
{% endblock %}