{% extends "/shared/base.html" %}
{% block content %}
<div class="flex flex-col items-center justify-center gap-6 py-6">
    <div class="bg-white dark:bg-gray-950 p-8 rounded-lg shadow-lg w-full max-w-md min-h-[21rem]">
        <h1 class="text-2xl font-bold mb-4 text-gray-800">Upload Save File</h1>
        <form id="form" class="space-y-4" hx-encoding="multipart/form-data" hx-post="/upload" hx-trigger="submit"
            hx-swap="innerHTML" hx-target="#server-response">
            <div class="flex items-center justify-center w-full">
                <div class="flex items-center justify-center w-full">
                    <label for="file-upload"
                        class="flex flex-col items-center justify-center w-full border border-gray-300  rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 duration-300">
                        <div class="flex flex-col items-center justify-center p-6">
                            <svg id="upload-icon" class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2"
                                strokeLinecap="round" strokeLinejoin="round">
                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                <polyline points="17 8 12 3 7 8" />
                                <line x1="12" x2="12" y1="3" y2="15" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">Drag and drop a file or click to
                                upload</p>
                        </div>
                        <input id="file-upload" type="file" class="hidden" name="save_file_upload" />
                    </label>
                </div>
            </div>

            <button type="submit"
                class="w-full bg-sky-800 hover:bg-sky-900 text-white font-medium py-2 px-4 rounded-lg transition-colors duration-300">
                Upload
            </button>
            <div id="error-message" class="hidden text-center text-red-500"></div>
            <div id="server-response" class="hidden text-center text-red-500"></div>
        </form>
    </div>
</div>

<script>
    const fileInput = document.getElementById('file-upload');
    const uploadIcon = document.getElementById('upload-icon');
    const uploadLabel = document.querySelector('label[for="file-upload"] p');

    fileInput.addEventListener('change', function () {
        if (this.files && this.files.length > 0) {
            uploadLabel.textContent = this.files[0].name;
            uploadIcon.outerHTML = `
        <svg id="upload-icon" class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2"
            strokeLinecap="round" strokeLinejoin="round">
            <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
            <path d="M14 2v4a2 2 0 0 0 2 2h4" />
        </svg>`;
            errorMessage.classList.add('hidden');
        }
    });

    const form = document.getElementById('form');
    const errorMessage = document.getElementById('error-message');
    const serverResponse = document.getElementById('server-response');

    document.body.addEventListener('htmx:beforeRequest', function (event) {
        if (!fileInput.files || fileInput.files.length === 0) {
            event.preventDefault();
            errorMessage.textContent = 'Please select a file before uploading.';
            errorMessage.classList.remove('hidden');
        } else {
            serverResponse.classList.add('hidden');
            errorMessage.classList.add('hidden');
        }
    });

    document.body.addEventListener('htmx:afterSwap', function (event) {
        const errorMessage = document.getElementById('error-message');
        if (errorMessage) {
            serverResponse.classList.remove('hidden');
        } else {
            serverResponse.classList.add('hidden');
        }
    });
</script>
{% endblock %}